.home{
    
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    margin-top: 0%;
}


.card {
    display: 'static';
    width: 100%;
    padding-top: 5%;
    padding-left: 15%;
    align-items: left;
  }

.home-card {
    margin: 2%;
}

a {
    text-decoration: none;
    color: black; 

}

a:hover {
    color: black;
    text-decoration: underline;
}